.pages {
	display: flex;
	justify-content: center;
}

.pages > li a {
	margin: 0 5px 20px;
	text-decoration: none;
	background: #f2f7e1;
	color: #82b4b1;
	padding: 10px;
	display: block;
	transition: 0.5s all;
	font-size: 14px;
	border-radius: 4px;
}

li.middle a {
	background: #82b4b1;
	color: #f2f7e1;
}
