form {
	margin: 100px 0 0;
	padding: 0;
	border: none;
}

button {
	display: block;
	margin: auto auto 10px;
	padding: 10px 20px;
	border: 0;
	border-radius: 3px;
	color: #82b4b1;
	background-color: #e0f2ed;
	text-transform: uppercase;
	font-weight: 600;
	outline: none;
	letter-spacing: 1px;
	font-size: 0.9em;
	cursor: pointer;
}

button:hover {
	transition: 0.5s all;
	color: #e0f2ed;
	background-color: #82b4b1;
}

article {
	margin: 10px 0 0;
	text-align: center;
}

div.notification {
	padding-top: 10px;
	padding-bottom: 10px;
	transition: 0.5s all;
}

a {
	text-decoration: none;
	color: #82b4b1;
	transition: 0.5s all;
	font-size: 14px;
}

div.notification:hover {
	background: #dff1ec;
	transition: 0.5s all;
}
