HEADER {
    box-shadow: 0px 0px 22px -3px #ccc;
    position: relative;
    width: 100%;
    background: #ffffff;
}

DIV.logo {
    margin: auto;
    padding: 18px 0 6px;
}

DIV.logo IMG {
    display: block;
    margin: auto;
    width: 426px;
    height: 90px;
}

DIV.add {
    position: absolute;
    top: 25px;
    left: 35px;
}

DIV.add IMG, DIV.user IMG{
    width: 64px;
    height: 64px;
}

DIV.user {
    position: absolute;
    top: 25px;
    right: 35px;
}